<h2 class="section__title">Actividades en Tokio</h2>
<p class="section__description">¡Sumérgete en la Rica Cultura de Tokio!</p>
<div class="activity">
    <div class="activity__item">
        <p class="activity__description">Descubre los encantos de la <span class="activity--highlighted">ceremonia del té</span> japonés, una práctica ancestral arraigada en el budismo zen. Déjate llevar por la serenidad de un ritual de té en una casa de té tradicional, donde cada gesto es un tributo a la armonía y la contemplación.</p>
        <figure class="activity__figure">
            <img class="activity__image" srcset="./assets/images/activities/ceremonia-te-1200.jpg 1200w, ./assets/images/activities/ceremonia-te-750.jpg 750w" sizes="(min-width: 1200px) 1200px, (min-width: 750px) 750px, 100vw" src="./assets/images/activities/ceremonia-te-1200.jpg" alt="Mujer sirviendo té durante la cerimonia del té." width="1200" height="auto">
            <figcaption class="activity__caption">
                Ceremonia del Té | Foto de <a class="activity__link" href="https://unsplash.com/es/@gronemo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Roméo A.</a> en <a class="activity__link" href="https://unsplash.com/es/fotos/mujer-sentada-dentro-de-la-habitacion-lscGvpiDBLA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </figcaption>
        </figure>
    </div>
    <div class="activity__item">
        <p class="activity__description">Embárcate en una experiencia inolvidable durante la temporada de la <span class="activity--highlighted">floración de los cerezos</span> en Tokio. Contempla la deslumbrante belleza de los cerezos en flor, que transforman parques y jardines en un mar de pétalos rosados durante la primavera, cautivando tanto a locales como a visitantes.</p>
        <figure class="activity__figure">
            <img class="activity__image" srcset="./assets/images/activities/cerezos-1200.jpg 1200w, ./assets/images/activities/cerezos-750.jpg 750w" sizes="(min-width: 1200px) 1200px, (min-width: 750px) 750px, 100vw" src="./assets/images/activities/cerezos-1200.jpg" alt="Flores del cerezo japonés de color rosado." width="1200" height="auto">
            <figcaption class="activity__caption">
                Cerezos en flor | Foto de <a class="activity__link" href="https://unsplash.com/es/@ajny?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">AJ</a> en <a class="activity__link" href="https://unsplash.com/es/fotos/flores-rosadas-McsNra2VRQQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </figcaption>
        </figure>
    </div>
    <div class="activity__item">
        <p class="activity__description">Sumérgete en el fascinante mundo del teatro <span class="activity--highlighted">Kabuki</span>, una forma tradicional de drama japonés. Déjate seducir por los impresionantes trajes, el maquillaje dramático y las actuaciones estilizadas que caracterizan al Kabuki, una expresión artística que trasciende el tiempo y la cultura.</p>
        <figure class="activity__figure">
            <img class="activity__image" srcset="./assets/images/activities/kabuki-1200.jpg 1200w, ./assets/images/activities/kabuki-750.jpg 750w" sizes="(min-width: 1200px) 1200px, (min-width: 750px) 750px, 100vw" src="./assets/images/activities/kabuki-1200.jpg" alt="Personas vestidas con las máscaras y trajes típicos del teatro Kabuki." width="1200" height="auto">
            <figcaption class="activity__caption">
                Indumentaria del teatro Kabuki | Foto de <a class="activity__link" href="https://unsplash.com/es/@susannschuster?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Susann Schuster</a> en <a class="activity__link" href="https://unsplash.com/es/fotos/mujer-en-kimono-de-pie-en-puente-de-madera-C_ULRNO8q0w?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </figcaption>
        </figure>
    </div>
</div>