<footer class="footer">
    <p class="footer__text">Copyright &copy; 2024 Descubriendo Tokio | Carla Martin Benito</p>
    <p class="footer__text"><i class="fa-brands fa-github"></i> Acceso al repositorio en <a class="footer__link" href="https://github.com/carla-mb/tokyo-tourism-website">GitHub</a></p>
    <p class="footer__text">Créditos del logo y favicon: <a class="footer__link" href="https://www.flaticon.com/free-icons/tokyo-tower" title="tokyo tower icons">Tokyo tower icons created by max.icons - Flaticon</a></p>
    <div class="footer__divider"></div> 
    <p class="footer__text">Disclaimer: El redactado de los textos se ha realizado con la ayuda de herramientas de IA, ya que tiene un proposito puramente educativo.</p>
</footer>