<div class="header__content">
    <img class="header__img" src="assets/images/logo/tokyo-tower.png" alt="Icono del Monte Fuji">
    <h1 class="header__title">DESCUBRIENDO TOKIO</h1>
</div>
<button class="menu-toggle" aria-label="Menu Toggle">
    <i class="fa-regular fa-lg fa-compass"></i>
</button>
<nav class="menu">
    <p class="menu__text">Navegar a...</p>
    <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="#atracciones">Atracciones turísticas</a></li>
        <li class="menu__item"><a class="menu__link" href="#actividades">Actividades destacadas</a></li>
        <li class="menu__item"><a class="menu__link" href="#estancia">Tu estancia Tokio</a></li>
        <li class="menu__item"><a class="menu__link" href="#contacto">Contacta con nosotros</a></li>
    </ul>
</nav>