<div class="section__content">
    <div class="desktop-menu">
        <ul class="desktop-menu__list">
            <li class="desktop-menu__item"><a class="desktop-menu__link" href="#atracciones"><i class="fa-solid fa-building-columns"></i> Atracciones turísticas</a></li>
            <li class="desktop-menu__item"><a class="desktop-menu__link" href="#actividades"><i class="fa-solid fa-person-walking"></i> Actividades destacadas</a></li>
            <li class="desktop-menu__item"><a class="desktop-menu__link" href="#estancia"><i class="fa-solid fa-hotel"></i> Tu estancia Tokio</a></li>
            <li class="desktop-menu__item"><a class="desktop-menu__link" href="#contacto"><i class="fa-solid fa-envelope"></i> Contacta con nosotros</a></li>
        </ul>
    </div>
    <figure class="section__figure">
        <img class="section__image" 
        srcset="./assets/images/tokyo-night-1920-crop.jpg 1920w, ./assets/images/tokyo-night-1200.jpg 1200w" 
        sizes="(max-width: 750px) 100vw, 1920px"  
        src="./assets/images/tokyo-night-1920-crop.jpg" 
        alt="Ajetreada noche en una de las calles principales de la ciudad de Tokio." width="1920" height="auto">
        <figcaption class="section__figcaption">La ciudad que no descansa ni de noche.</figcaption>
    </figure> 
    <div class="section__text-container">
        <p class="section__text">Tokio, capital de Japón, es una bulliciosa metrópolis conocida por su vibrante cultura, su tecnología punta y su rica historia.</p>
        <p class="section__text">Con una población de más de 14 millones de habitantes, Tokio es una de las ciudades más pobladas del mundo y ofrece una fascinante mezcla de lo tradicional y moderno.</p>
    </div>
</div>