<h2 class="section__title">Tu estancia en Tokio</h2>
<p class="section__description">Descubre todo lo que necesitas para hacer de tu estancia en Tokio una experiencia inolvidable.</p>
<div class="tokyo-stay__accomodation">
    <h3 class="tokyo-stay__subtitle">Alojamiento <i class="fa-solid fa-bed tokyo-stay__icon"></i></h3>
    <p class="tokyo-stay__info">Tokio ofrece una amplia gama de opciones de alojamiento para todos los gustos y presupuestos. Desde lujosos hoteles de cinco estrellas hasta acogedores hostales y tradicionales ryokans, hay algo para satisfacer las necesidades de cada viajero.</p>
    <p class="tokyo-stay__info">Más información sobre las posibilidades de alojamiento en Tokio en la página de <a class="tokyo-stay__link" href="https://www.booking.com/city/jp/tokyo.es.html">Booking</a>.</p>
</div>
<div class="tokyo-stay__transport">
    <h3 class="tokyo-stay__subtitle">Transporte <i class="fa-solid fa-train-subway tokyo-stay__icon"></i></h3>
    <p class="tokyo-stay__info">Navegar por la extensa red de transporte de Tokio es fácil y conveniente. Desde el eficiente sistema de metro hasta los modernos trenes de alta velocidad Shinkansen, los viajeros pueden desplazarse rápidamente por la ciudad y explorar sus numerosos barrios y atracciones.</p>
    <p>Más información sobre moverse por Tokio en el Portal Oficial de Turismo de Tokyo <a class="tokyo-stay__link" href="https://www.gotokyo.org/es/plan/getting-around/index.html">GO TOKYO</a>.</p>
</div>
<div class="tokyo-stay__food">
    <h3 class="tokyo-stay__subtitle">Gastronomía <i class="fa-solid fa-bowl-rice tokyo-stay__icon"></i></h3>
    <p class="tokyo-stay__info">La comida en Tokio es una experiencia en sí misma. Desde los exquisitos platos de sushi y sashimi fresco hasta los deliciosos ramen y tempura, la ciudad es un paraíso culinario para los amantes de la comida japonesa. No te pierdas la oportunidad de probar auténticos platos locales en los numerosos restaurantes y puestos de comida callejera que salpican las calles de Tokio.</p>
    <p>Te dejamos algunos de los mejores platos tanto dulces como salados, que puedes probar en la capital japonesa.</p>
    <div class="food-container">
        <div class="food-container__item">
            <div class="food-container-wrapper">
                <h4 class="food-container__title">Ramen</h4>
                <p class="food-container__text">El <span class="food-container--highlighted">ramen</span>, uno de los platos favoritos de los japoneses, es una sopa de fideos de trigo en un sabroso caldo. Su sabor se realza acompañándolo con ingredientes como cerdo laminado, algas nori y cebolletas. Este plato lo puedes encontrar tanto en pequeños bares de ramen como en restaurantes, y es muy asequible.</p>
                <p class="food-container__text">Es un plato tan adorado, que en Tokio puedes ir al <a class="food-container__link" href="https://www.raumen.co.jp/english/" target="_blank">Museo del Ramen</a>, donde podrás disfrutar de distintas variedades de este plato.</p>
            </div>
            <figure class="food-container__figure">
                <img class="food-container__image" srcset="./assets/images/food/ramen-1200.jpg 1200w, ./assets/images/food/ramen-750.jpg 750w" sizes="(min-width: 1200px) 1200px, (min-width: 750px) 750px, 100vw" src="./assets/images/food/ramen-1200.jpg" alt="Bol de fideos ramen." width="1200" height="auto">
                <figcaption class="food-container__caption">
                    Ramen | Foto de <a class="food-container__link" href="https://unsplash.com/es/@susannschuster?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Susann Schuster</a> en <a class="food-container__link" href="https://unsplash.com/es/fotos/plato-de-huevos-y-verduras-en-bol-de-ceramica-negra-5x8dUGe-7Fo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </figcaption>
            </figure>
        </div>
        <div class="food-container__item">
            <div class="food-container-wrapper">
                <h4 class="food-container__title">Donburi</h4>
                <p class="food-container__text">El <span class="food-container--highlighted">donburi</span>, un plato de arroz muy apreciado en Japón, es una opción a la que recurren muchos trabajadores japoneses a la hora de comer. Se trata de una mezcla de carne, pescado y/o verduras, cocidos a fuego lento o fritos, servidos sobre un cuenco de arroz al vapor. Uno de los tipos más populares es el katsudon, que lleva chuletas de cerdo empanadas.</p>
            </div>
            <figure class="food-container__figure">
                <img class="food-container__image" srcset="./assets/images/food/donburi-1200.jpg 1200w, ./assets/images/food/donburi-750.jpg 750w" sizes="(min-width: 1200px) 1200px, (min-width: 750px) 750px, 100vw" src="./assets/images/food/donburi-1200.jpg" alt="Bol de arroz donburi." width="1200" height="auto">
                <figcaption class="food-container__caption">
                    Donburi | Foto de <a class="food-container__link" href="https://unsplash.com/es/@kimibmoon?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">ibmoon Kim</a> en <a class="food-container__link" href="https://unsplash.com/es/fotos/un-primer-plano-de-un-plato-de-comida-en-una-mesa-n5Z5-knT8Uk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </figcaption>
            </figure>
        </div>
        <div class="food-container__item">
            <div class="food-container-wrapper">
                <h4 class="food-container__title">Sushi</h4>
                <p class="food-container__text">El <span class="food-container--highlighted">sushi</span> es una comida muy típica de Japón y no puedes ir a Tokyo sin probarlo, porqué es ahí donde vas a poder probar el verdadero sushi. Se trata de una preparación de arroz sazonado con vinagre, combinado con otros ingredientes como pescado crudo, mariscos, vegetales o huevos. Hay muchas variedades de sushi, desde los tradicionales nigiri y sashimi hasta los más modernos como los maki</p>
            </div>
            <figure class="food-container__figure">
                <img class="food-container__image" srcset="./assets/images/food/sushi-1200.jpg 1200w, ./assets/images/food/sushi-750.jpg 750w" sizes="(min-width: 1200px) 1200px, (min-width: 750px) 750px, 100vw" src="./assets/images/food/sushi-1200.jpg" alt="Plato con sushi de distintos tipos." width="1200" height="auto">
                <figcaption class="food-container__caption">
                    Sushi | Foto de <a class="food-container__link" href="https://unsplash.com/es/@andrazlazic?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Andraz Lazic</a> en <a class="food-container__link" href="https://unsplash.com/es/fotos/galletas-marrones-sobre-mesa-negra-iy_MT2ifklc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </figcaption>
            </figure>
        </div>
        <div class="food-container__item">
            <div class="food-container-wrapper">
                <h4 class="food-container__title">Wagashi</h4>
                <p class="food-container__text">El <span class="food-container--highlighted">wagashi</span> es un tipo de dulce japonés que se suele servir con el té durante la ceremonia del té japonesa. Estos dulces suelen tener una presentación artística y están hechos de ingredientes naturales como pasta de judías dulces, arroz glutinoso y frutas. Disfrutar de wagashi es una experiencia sensorial única que complementa perfectamente la tranquilidad y la armonía de la ceremonia del té.</p>
            </div>
            <figure class="food-container__figure">
                <img class="food-container__image" srcset="./assets/images/food/wagashi-1200.jpg 1200w, ./assets/images/food/wagashi-750.jpg 750w" sizes="(min-width: 1200px) 1200px, (min-width: 750px) 750px, 100vw" src="./assets/images/food/wagashi-1200.jpg" alt="Plato con los dulces wagashi." width="1200" height="auto">
                <figcaption class="food-container__caption">
                    Wagashi | Foto de <a class="food-container__link" href="https://unsplash.com/es/@vickyng?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Vicky Ng</a> en <a class="food-container__link" href="https://unsplash.com/es/fotos/taza-de-te-de-ceramica-floral-blanca-y-rosa-en-platillo-de-ceramica-floral-blanca-bcPzSVSpN7g?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </figcaption>
            </figure>
        </div>
        <div class="food-container__item">
            <div class="food-container-wrapper">
                <h4 class="food-container__title">Taiyaki</h4>
                <p class="food-container__text">El <span class="food-container--highlighted">taiyaki</span> es un popular postre japonés en forma de pez relleno de pasta dulce. Tradicionalmente, el relleno es de anko (pasta de judías dulces rojas), pero también se pueden encontrar variedades rellenas de chocolate, crema o incluso queso. Es un dulce delicioso y reconfortante que se puede encontrar en puestos callejeros y tiendas de dulces por igual.</p>
            </div> 
            <figure class="food-container__figure">
                <img class="food-container__image" srcset="./assets/images/food/taiyaki-1200.jpg 1200w, ./assets/images/food/taiyaki-750.jpg 750w" sizes="(min-width: 1200px) 1200px, (min-width: 750px) 750px, 100vw" src="./assets/images/food/taiyaki-1200.jpg" alt="Plato lleno de taiyaki." width="1200" height="auto">
                <figcaption class="food-container__caption">
                    Taiyaki | Foto de <a class="food-container__link" href="https://unsplash.com/es/@kellyvisel?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kelly Visel</a> en <a class="food-container__link" href="https://unsplash.com/es/fotos/galletas-marrones-sobre-mesa-de-madera-marron-MIMgqOQLnOc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </figcaption>
            </figure>
        </div>
    </div>
</div>